<hr />
<div class="alert alert-success h4" role="alert">
  <i class="fas fa-broom"></i> Orden y limpieza...
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
      >5S</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="Clasificar-tab" data-toggle="tab" href="#Clasificar"
      >2ª S – Clasificar</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="Ordenar-tab" data-toggle="tab" href="#Ordenar"
      >2ª S – Ordenar</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="Limpiar-tab" data-toggle="tab" href="#Limpiar"
      >3ª S – Limpiar</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="Señalizar-tab" data-toggle="tab" href="#Señalizar"
      >4ª S – Señalizar</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="Disciplinar-tab"
      data-toggle="tab"
      href="#Disciplinar"
      >5ª S – Disciplinar</a
    >
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home">
    <br />
    <p class="text-justify">
      5S es una herramienta de gestión visual fundamental dentro de Lean
      Manufacturing, y utilizada habitualmente como punto de partida para
      introducir la mejora continua en la empresa. Su misión es optimizar el
      estado del entorno de trabajo, facilitar la labor de los empleados y
      potenciar su capacidad para la detección de problemas. Con su
      implementación conseguimos
      <strong
        >mejorar la productividad del proceso y aumentar la calidad.</strong
      >
    </p>
    <p>
      Disponer de un puesto de trabajo ordenado, limpio y bien organizado, es
      clabe para atajar las pérdidas de tiempo-desplazamientos innecesarios,
      reducir los defectos en piezas, ahorrar en mantenimiento y aumentar la
      seguridad. Ayuda a que el personal de planta
      <strong>esté motivado</strong> y trabaje en las mejores condiciones.
    </p>
    <hr />
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img
            class="img-fluid"
            src="assets/img/Administration/manuals/5-s.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-sm-8">
        <div class="text-center">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/U4tXTZpGfMI"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="Clasificar">
    <h4 class="titulo">1ª S – Clasificación (Seiri)</h4>
    <p>
      Consiste en <strong>identificar y clasificar</strong> los materiales
      indispensables para la ejecución del proceso. El resto, se considerará
      material innecesario y por lo tanto se eliminará o separará. A partir de
      ese momento, se realizará un <strong>inventario</strong> estándar de cada
      puesto de trabajo.
    </p>
    <p>
      De esta forma,
      <strong
        >el trabajador dispone de las herramientas que realmente
        necesita</strong
      >
      y ya no existirán otros elementos que puedan dificultar su trabajo.
    </p>
    <hr />
    <h4>Proceso para Limpiar mis bodegas y talleres</h4>
    <img
      class="img-fluid"
      src="assets/img/Administration/manuals/ProcesoLimpieza.png"
      alt=""
    />
    <hr />
    <h4>Ejemplos</h4>
    <!-- Carrusel -->
  </div>
  <div class="tab-pane fade" id="Ordenar">
    <h4 class="titulo">2ª S – Organización (Seiton)</h4>
    <p>
      En segundo lugar, se procede a <strong>ordenar</strong> los materiales
      indispensables, facilitando las tareas de encontrar, usar y reponer estos
      útiles.
    </p>
    <p>
      Con ello se consigue
      <strong>eliminar tiempos no productivos</strong> asociados a la búsqueda
      de materiales y desplazamientos innecesarios. Se debe marcar la ubicación
      de cada material, componente o herramienta, para ello nos servimos de
      etiquetas, moldes, dibujos, señales, etc.
    </p>
  </div>
  <div class="tab-pane fade" id="Limpiar">
    <h4 class="titulo">3ª S – Limpieza (Seiso)</h4>
    <p>
      Es indispensable localizar y <strong>eliminar la suciedad</strong> del
      puesto de trabajo, así como su correcto mantenimiento.
    </p>
    <p>
      Disponer de un estándar adecuado de limpieza y organización repercute
      directamente en la <strong>motivación del personal</strong>, además de
      reducir en gran medida los accidentes y lesiones.
    </p>
  </div>
  <div class="tab-pane fade" id="Señalizar">
    <h4 class="titulo">4ª S – Estandarizar (Seiketsu)</h4>
    <p>
      El proceso de estandarizar trata de
      <strong
        >distinguir fácilmente una situación “normal” de una “anormal”</strong
      >, es decir, el personal debe ser capaz de discernir cuando las tres eses
      anteriores se están aplicando correctamente y cuando no.
    </p>
    <p>
      Es imprescindible que todo el personal de planta disponga de la formación
      adecuada para identificar este tipo de situaciones. De esta forma, el
      personal <strong>se siente más valorado</strong> y aumenta su motivación.
      A su vez, los operarios son más polivalentes y son capaces de detectar
      pequeños fallos en su puesto, que a posteriori pudieran desencadenar
      problemas más graves.
    </p>
  </div>

  <div class="tab-pane fade" id="Disciplinar">
    <h4 class="titulo">5ª S – Seguir mejorando (Shitsuke)</h4>
    <p>
      Las 5S no tienen un fin definido.
      <strong>Es un ciclo que se repite continuamente</strong> y en el que se
      debe de disponer de una disciplina para mantener un puesto de trabajo
      ordenado y limpio.
    </p>
    <p>
      El éxito en la implantación de las 5S, genera un espacio de trabajo mucho
      más agradable, se reducen stocks, accidentes y
      <strong
        >se aumenta la productividad y satisfacción del personal de la
        empresa</strong
      >. Por ello la prioridad es mantener esta disciplina de una forma rigurosa
      y constante.
    </p>
  </div>
</div>
<br /><br />
<br />
<br />
