<app-login-title
  title="Nueva contraseña"
  [colorHeader]="'bg-light'"
></app-login-title>

<form autocomplete="off" (ngSubmit)="submit()" [formGroup]="form">
  <div class="form-group">
    <label class="col-form-label-sm font-weight-normal">Email</label>
    <input
      class="form-control"
      type="email"
      placeholder="Ingrese su correo electronico"
      formControlName="email"
      [class.is-invalid]="itemInvalid('email')"
      [class.is-valid]="itemValid('email')"
    />
    <span *ngIf="itemInvalid('email')" class="text-danger small animated fadeIn"
      >Correo electrónico no valido .</span
    >
  </div>
  <div class="form-group">
    <label class="col-form-label-sm font-weight-normal">Nueva contraseña</label>
    <input
      class="form-control"
      type="password"
      placeholder="Ingrese su contraseña"
      formControlName="password"
      [class.is-invalid]="itemInvalid('password')"
      [class.is-valid]="itemValid('password')"
    />
    <span
      *ngIf="itemInvalid('password')"
      class="text-danger small animated fadeIn"
      >Este campo es requerido.</span
    >
  </div>

  <div class="form-group">
    <label class="col-form-label-sm font-weight-normal"
      >Confirmar nueva contraseña</label
    >
    <input
      class="form-control"
      type="password"
      placeholder="Confirme su contraseña"
      formControlName="passwordConfirm"
      [class.is-invalid]="itemInvalid('passwordConfirm')"
      [class.is-valid]="itemValid('passwordConfirm')"
    />
    <span *ngIf="passwordNotValid()" class="text-danger small animated fadeIn"
      >Las contraseñas no coinciden .</span
    >
  </div>

  <!-- Boton Submin -->
  <app-login-block-button
    [name]="'Actualizar contraseña'"
    [showLogin]="'true'"
    [showRegister]="'true'"
  ></app-login-block-button>
  <!-- Boton Submin -->
</form>
