<div class="wrapper">
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <app-brand-logo></app-brand-logo>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <app-user-panel></app-user-panel>

      <!-- Sidebar Menu -->

      <app-sidebar-menu></app-sidebar-menu>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content">
      <div class="container-fluid">
        <!-- /.row -->
        <br />
        <router-outlet></router-outlet>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <!-- ./wrapper -->

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- Footer -->
  <!-- Modal -->
</div>
