<div class="card">
  <div class="card-body">
    <form autocomplete="off" (submit)="onSubmit()" [formGroup]="form">
      <!-- Id -->
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Id</label>
        <div class="col-sm-9 p-fluid">
          <input class="p-inputtext-sm" pInputText formControlName="id" />
        </div>
      </div>
      <!-- Id -->
      <!-- Código -->
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Código</label>
        <div class="col-sm-9 p-fluid">
          <input
            pInputText
            class="p-inputtext-sm"
            pInputText
            formControlName="codigo"
            [class.p-invalid]="
              codigo.invalid && (codigo.dirty || codigo.touched)
            "
          />
          <div
            *ngIf="codigo?.errors?.required && (codigo.dirty || codigo.touched)"
            class="p-invalid text-danger small animate__animated animate__fadeIn"
          >
            <p>Campo requerido.</p>
          </div>
        </div>
      </div>
      <!-- Código -->

      <!-- Descripción -->
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Descripción</label>
        <div class="col-sm-9 p-fluid">
          <input
            pInputText
            class="p-inputtext-sm"
            pInputText
            formControlName="descripcion"
            [class.p-invalid]="
              descripcion.invalid && (descripcion.dirty || descripcion.touched)
            "
          />
          <div
            *ngIf="
              descripcion?.errors?.required &&
              (descripcion.dirty || descripcion.touched)
            "
            class="p-invalid text-danger small animate__animated animate__fadeIn"
          >
            <p>Campo requerido.</p>
          </div>
        </div>
      </div>
      <!-- Descripción -->

      <app-button-submit [disabled]="this.form.invalid"></app-button-submit>
    </form>
  </div>
</div>
