<p-toast position="top-left" baseZIndex="99999"></p-toast>
<p-dataView
  #dv
  [value]="data"
  [paginator]="true"
  [rows]="30"
  [rowsPerPageOptions]="[30, 40, 50, 75, 100]"
  filterBy="nombreCuadrante"
>
  <ng-template pTemplate="header">
    <div class="alert alert-info" role="alert">
      <div class="row">
        <div class="col-sm-8">
          <h4 class="alert-heading h4">Listado de Medidores</h4>
        </div>
        <div class="col-sm-3 p-fluid">
          <span class="p-input-icon-left p-mb-2 p-mb-md-0">
            <i class="pi pi-search"></i>
            <input
              type="search"
              pInputText
              placeholder="Buscar...."
              (input)="dv.filter($event.target.value)"
              class="p-inputtext-sm"
            />
          </span>
        </div>
        <div class="col-sm-1 p-fluid">
          <p-button
            *ngIf="Mantenimiento || Residente"
            label="Nuevo"
            icon="fas fa-plus"
            styleClass="p-button-sm"
            type="button"
            (click)="modalAddEdit({ id: 0, title: 'Nuevo Registro' })"
          >
          </p-button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template let-item pTemplate="listItem">
    <div class="p-col-12 p-md-3">
      <div
        class="card"
        [ngClass]="{
          'bg-primary': item.medidorCategoria.id === 3,
          'bg-success': item.medidorCategoria.id === 2,
          'bg-warning': item.medidorCategoria.id === 1
        }"
      >
        <div
          class="card-body text-center pointer"
          (click)="modalMedidorLecturaAddEdit(item)"
        >
          <h5 class="card-subtitle mb-2">
            {{ item.medidorCategoria.nombreMedidorCategoria }}
          </h5>
          <i
            *ngIf="item.medidorCategoria.id === 1"
            class="fas fa-burn fa-3x"
          ></i>
          <i
            *ngIf="item.medidorCategoria.id === 3"
            class="fas fa-hand-holding-water fa-3x"
          ></i>
          <i
            *ngIf="item.medidorCategoria.id === 2"
            class="fas fa-bolt fa-3x"
          ></i>
          <hr />
          <h6 class="card-subtitle mb-2 text-muted">
            {{ item.numeroMedidor }}
          </h6>
          <p class="card-text">
            {{ item.descripcion }}
          </p>
          <p class="card-text">
            {{ item.consumoDiarioMaximo }}
          </p>
        </div>

        <div
          class="card-footer"
          *ngIf="authService.isMantenimiento || authService.isResidente"
        >
          <div class="d-flex justify-content-center">
            <app-button-edit
              (edit)="modalAddEdit({ id: item.id, title: 'Editar Registro' })"
            ></app-button-edit>
            <app-button-delete
              (OnConfirm)="onDelete(item)"
              [nameItem]="item.shortName"
            ></app-button-delete>
            <p-button
              [routerLink]="['/maintenance/indexMedidorLectura', item.id]"
              routerLinkActive="router-link-active"
              pTooltip="Lecturas"
              tooltipPosition="left"
              styleClass="p-button-sm text-white-50 ml-1 p-button-success"
              icon="fas fa-database"
            >
            </p-button>
            <p-button
              [routerLink]="['/maintenance/chartLectura', item.id]"
              routerLinkActive="router-link-active"
              pTooltip="Grafica"
              tooltipPosition="left"
              styleClass="p-button-sm text-white-50 ml-1 p-button-secondary"
              icon="far fa-chart-bar"
            >
            </p-button>
            <p-button
              (click)="exportExcel(item.id)"
              routerLinkActive="router-link-active"
              pTooltip="Exportar a Excel"
              tooltipPosition="left"
              styleClass="p-button-sm text-white-50 ml-1 p-button-success"
              icon="fas fa-file-excel"
            >
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
