<div class="card">
  <div class="card-body">
    <form autocomplete="off" (submit)="onSubmit()" [formGroup]="form">
      <!-- Id -->
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Id</label>
        <div class="col-sm-9 p-fluid">
          <input pInputText class="p-inputtext-sm" formControlName="id" />
        </div>
      </div>
      <!-- Id -->

      <!-- Código -->
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Código</label>
        <div class="col-sm-9 p-fluid">
          <input
            pInputText
            class="p-inputtext-sm"
            formControlName="code"
            placeholder="Ingrese el código"
            [class.p-invalid]="code.invalid && (code.dirty || code.touched)"
          />
          <div *ngIf="code.invalid && (code.dirty || code.touched)">
            <span
              *ngIf="code.errors.required"
              class="text-danger small animate__animated animate__fadeIn"
              >El campo Código es reqerido.</span
            >
          </div>
        </div>
      </div>
      <!-- Código -->
      <!-- Nombre -->
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Nombre</label>
        <div class="col-sm-9 p-fluid">
          <input
            pInputText
            class="p-inputtext-sm"
            formControlName="shortName"
            placeholder="Ingrese el nombre"
            [class.p-invalid]="
              shortName.invalid && (shortName.dirty || shortName.touched)
            "
          />
          <div
            *ngIf="shortName.invalid && (shortName.dirty || shortName.touched)"
          >
            <span
              *ngIf="shortName.errors.required"
              class="text-danger small animate__animated animate__fadeIn"
              >El campo Nombre es reqerido.</span
            >
            <span
              *ngIf="shortName.errors.minlength"
              class="text-danger small animate__animated animate__fadeIn"
              >El campo debe de tener minimo 4 caracteres.</span
            >
          </div>
        </div>
      </div>
      <!-- Nombre -->
      <!-- Razón social -->
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Razón social</label>
        <div class="col-sm-9 p-fluid">
          <input
            pInputText
            class="p-inputtext-sm"
            formControlName="largeName"
            placeholder="Ingrese el razón social"
            [class.p-invalid]="
              largeName.invalid && (largeName.dirty || largeName.touched)
            "
          />
          <div
            *ngIf="largeName.invalid && (largeName.dirty || largeName.touched)"
          >
            <span class="text-danger small animate__animated animate__fadeIn"
              >El campo Razón social es reqerido.</span
            >
          </div>
        </div>
      </div>

      <!-- Razón social -->
      <app-button-submit [disabled]="this.form.invalid"></app-button-submit>
    </form>
  </div>
</div>
