<div class="p-card">
  <div class="p-card-body">
    <form autocomplete="off" (submit)="onSubmit()" [formGroup]="form">
      <!-- Id -->
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Id</label>
        <div class="col-sm-9 p-fluid">
          <input pInputText class="p-inputtext-sm" formControlName="id" />
        </div>
      </div>
      <!-- Id -->

      <!-- Código -->
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Categoria</label>
        <div class="col-sm-9 p-fluid">
          <p-autoComplete
            class="p-inputtext-sm"
            [(ngModel)]="category"
            [suggestions]="categoryResult"
            field="label"
            (completeMethod)="filtrarProveedor($event)"
            [forceSelection]="true"
            [dropdown]="true"
            formControlName="categoryId"
          ></p-autoComplete>
        </div>
      </div>
      <!-- Código -->
      <!-- Nombre -->
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Nombre</label>
        <div class="col-sm-9 p-fluid">
          <input
            pInputText
            class="p-inputtext-sm"
            formControlName="description"
            placeholder="Ingrese el nombre"
            [class.p-invalid]="
              description.invalid && (description.dirty || description.touched)
            "
          />
          <div
            *ngIf="
              description.invalid && (description.dirty || description.touched)
            "
          >
            <span
              *ngIf="description.errors.required"
              class="text-danger small animate__animated animate__fadeIn"
              >El campo Nombre es reqerido.</span
            >
            <span
              *ngIf="description.errors.minlength"
              class="text-danger small animate__animated animate__fadeIn"
              >El campo debe de tener minimo 4 caracteres.</span
            >
          </div>
        </div>
      </div>
      <!-- Nombre -->
      <!-- Razón social -->

      <!-- Razón social -->
      <app-button-submit [disabled]="this.form.invalid"></app-button-submit>
    </form>
  </div>
</div>
