<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="PlanDeTrabajo-tab"
      data-toggle="tab"
      href="#PlanDeTrabajo"
      >Plan de Trabajo</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="a-tab" data-toggle="tab" href="#a">Recorridos</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="b-tab" data-toggle="tab" href="#b"
      >Necesidades de Servicio</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="c-tab" data-toggle="tab" href="#c">Clasificación</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" id="f-tab" data-toggle="tab" href="#f">Inventarios</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="g-tab" data-toggle="tab" href="#g">Cotizar</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="h-tab" data-toggle="tab" href="#h">Calendarizar</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="i-tab" data-toggle="tab" href="#i">Supervisión</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="j-tab" data-toggle="tab" href="#j">Bitacoras</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="PlanDeTrabajo"
    role="tabpanel"
    aria-labelledby="Inventarios-tab"
  >
    <div class="card">
      <img
        src="assets/img/Administration/manuals/01/Inventarios.PNG"
        class="img-fluid"
        alt=""
      />
    </div>

    <br />
    <div class="card">
      <img
        src="assets/img/Administration/manuals/PlanDeTrabajo.PNG"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
  <div class="tab-pane fade" id="a" role="tabpanel" aria-labelledby="a-tab">
    <h4 class="titulo">Recorridos</h4>
    <p>
      De manera periodica se deben realzar recorridos en tanto en areas, equipos
      e intalaciones,
    </p>
  </div>
  <div class="tab-pane fade" id="b" role="tabpanel" aria-labelledby="b-tab">
    <h4 class="titulo">Identificar las necesidades de Servicio</h4>
    <p>
      Durante los recorridos se identificaran desperfectos estos pueden ser:
    </p>
    <ul class="list-group">
      <li class="list-group-item">Falta de Pintura</li>
      <li class="list-group-item">Resane</li>
      <li class="list-group-item">Lubricación</li>
      <li class="list-group-item">Luminaria fundiada</li>
      <li class="list-group-item">Sellado de cancelerias</li>
      <li class="list-group-item">......</li>
    </ul>
  </div>
  <div class="tab-pane fade" id="c" role="tabpanel" aria-labelledby="c-tab">
    <img
      class="img-fluid"
      src="assets/img/Administration/manuals/ClasificacionTrabajos.png"
      alt=""
    />
  </div>

  <div class="tab-pane fade" id="f" role="tabpanel" aria-labelledby="f-tab">
    <div class="row">
      <div class="col-sm-3">
        <img
          class="img-fluid"
          src="assets/img/Administration/manuals/inventarios.png"
          alt=""
        />
      </div>
      <div class="col-sm-9">
        <p>
          Revisar en bodega el inventario de materiales e insumos que se
          necesitan para realizar las actividades de mantenimiento
          identificadas,
        </p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="g" role="tabpanel" aria-labelledby="g-tab">
    <br />
    <div class="row">
      <div class="col-sm-4">
        <p class="text-justify">
          En un requisción los unicos campos que nececitamos cubrir son,"Area,
          equipo o intalación", "Justificación del gasto", "Descripción y
          cantidad", seremos muy claros en las descrpción de los materiales para
          evitar errores de compra
        </p>
      </div>
      <div class="col-sm-8 card text-center">
        <img
          class="img-fluid"
          src="assets/img/Administration/manuals/Compras.png"
          alt=""
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-4">
        <p class="text-justify">
          Las Requisiciones solo se realizaran mediente el sistema de compran,
          no por ningun otro medio
        </p>
      </div>
      <div class="col-sm-8 card text-center">
        <div class="card-body">
          <img
            class="img-fluid"
            src="assets/img/Administration/manuals/SolicitudIncorrecta.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-4">
        <p class="text-justify">
          Razones por la cual las requisiciones no se ben realizar por otro
          medio que no sea el sistema de compras
        </p>
      </div>
      <div class="col-sm-8 card">
        <img
          class="img-fluid"
          src="assets/img/Administration/manuals/Problematica.png"
          alt=""
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-4">
        <p class="text-justify">
          Las requisiciones seran enviadas al Residente Operativo y Asistente,
          para que se encargen de la gestion, el titulo del mail debe ser corto
          y claro, tambien se adjuntara la evidencia fotografica que justifique
          la compra que se desea realizar
        </p>
      </div>
      <div class="col-sm-8 card">
        <img
          class="img-fluid"
          src="assets/img/Administration/manuals/EnvioRequisicion.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="h" role="tabpanel" aria-labelledby="h-tab">
    <img
      class="img-fluid"
      src="assets/img/Administration/manuals/Calendarizar.png"
      alt=""
    />
  </div>
  <div class="tab-pane fade" id="i" role="tabpanel" aria-labelledby="i-tab">
    <img
      class="img-fluid"
      src="assets/img/Administration/manuals/Supervisar.png"
      alt=""
    />
    <img
      class="img-fluid"
      src="assets/img/Administration/manuals/ReporteMensual.png"
      alt=""
    />
  </div>
  <div class="tab-pane fade" id="j" role="tabpanel" aria-labelledby="j-tab">
    <img
      class="img-fluid"
      src="assets/img/Administration/manuals/Bitacoras.png"
      alt=""
    />
  </div>
</div>
<br /><br /><br /><br />
