<hr />
<h1>Equipo de Proteccion personal</h1>
<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/jxVZm4OPv8A"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>
<!-- <div class="row">
  <div class="col text-center">
    <iframe
      width="560"
      height="315"
      [src]="videoUrl | domseguro"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
<br /> -->

<img class="img-fluid" src="assets/img/Administration/manuals/EPP.png" alt="" />
<img
  class="img-fluid"
  src="assets/img/Administration/manuals/IMSS.png"
  alt=""
/>
