<div class="card">
  <div class="card-body">
    <form
      class="mt-2"
      autocomplete="off"
      [formGroup]="formUpdatePassword"
      (ngSubmit)="updatePassword()"
    >
      <!-- Contraseña Actual -->
      <div class="form-group row">
        <label class="col-form-label font-weight-normal col-sm-4"
          >Contraseña actual</label
        >
        <div class="col-sm-8 p-fluid">
          <input
            type="password"
            formControlName="currentPassword"
            class="p-inputtext-sm"
            pInputText
            [class.p-invalid]="
              currentPassword.invalid &&
              (currentPassword.dirty || currentPassword.touched)
            "
          />
          <div
            *ngIf="passwordFailed"
            class="text-danger small animate__animated animate__fadeIn"
          >
            Su contraseña es incorrecta
          </div>
          <div
            *ngIf="
              currentPassword.invalid &&
              (currentPassword.dirty || currentPassword.touched)
            "
            class="text-danger small animate__animated animate__fadeIn"
          >
            <div *ngIf="currentPassword.errors.required">
              El password es requerido
            </div>
          </div>
        </div>
      </div>
      <!-- Contraseña Actual -->
      <!-- Nueva Contraseña -->
      <div class="form-group row">
        <label class="col-form-label font-weight-normal col-sm-4"
          >Nueva Contraseña</label
        >
        <div class="col-sm-8 p-fluid">
          <input
            type="password"
            formControlName="newPassword"
            class="p-inputtext-sm"
            pInputText
            [class.p-invalid]="
              newPassword.invalid && (newPassword.dirty || newPassword.touched)
            "
          />
          <div
            *ngIf="
              newPassword.invalid && (newPassword.dirty || newPassword.touched)
            "
            class="text-danger small animate__animated animate__fadeIn"
          >
            <div *ngIf="newPassword.errors.required">
              El password es requerido
            </div>
            <div *ngIf="newPassword.errors.passwordValidation">
              {{ newPassword.errors.passwordValidation.message }}
            </div>
          </div>
        </div>
      </div>
      <!-- Nueva Contraseña -->

      <!-- Confirmar contraseña -->
      <div class="form-group row">
        <label class="col-form-label font-weight-normal col-sm-4"
          >Confirmar Contraseña</label
        >
        <div class="col-sm-8 p-fluid">
          <input
            type="password"
            formControlName="confirm"
            class="p-inputtext-sm"
            pInputText
            [class.p-invalid]="
              confirm.invalid && (confirm.dirty || confirm.touched)
            "
          />
          <small
            *ngIf="passwordNotValid()"
            class="text-danger small animate__animated animate__fadeIn"
            >La contraseña y la contraseña de confirmación no coinciden.</small
          >
        </div>
      </div>
      <!-- Confirmar contraseña -->
      <!-- Submit -->

      <app-button-submit
        [disabled]="formUpdatePassword.invalid || enviando"
        [nameLabel]="labelButton"
      ></app-button-submit>
      <!-- Submit -->
    </form>
  </div>
</div>
