<br />
<div class="row">
  <div class="col-sm-6">
    <img
      class="img-fluid"
      src="assets/img/Administration/manuals/PresentacionJefe.png"
      alt=""
    />
  </div>
  <div class="col-sm-6">
    <img
      class="img-fluid"
      src="assets/img/Administration/manuals/PresentacionColaboradores.png"
      alt=""
    />
  </div>
  <div class="col-sm-6">
    <ul class="list-group">
      <li class="list-group-item bg-success text-white">
        Que <strong>SI</strong> Puedo hacer dentro de un depto.
      </li>
      <li class="list-group-item">Revisión de instalación eléctrica.</li>
      <li class="list-group-item">Cambiar focos y contactos.</li>
      <li class="list-group-item">
        Trabajos de plomería (reparación de tubería) sencillos donde no exista
        la necesidad de romper pisos y/o plafones.
      </li>
      <li class="list-group-item">Cambiar juntas y destapar W. C.</li>
      <li class="list-group-item">
        Destapar coladeras, tarjas, lavabos, regaderas etc.
      </li>
      <li class="list-group-item">Abrir y cerrar servicios de agua y gas.</li>
      <li class="list-group-item">
        Checar red de suministro de gas y hacer reparaciones menores.
      </li>
      <li class="list-group-item">Prender calentadores de agua.</li>
      <li class="list-group-item">
        Suministrar algún tipo de herramienta, siempre y cuando no esté siendo
        utilizada dicha por parte de mantenimiento, en dicho caso se entregara
        un recibo.
      </li>
      <li class="list-group-item">
        Sellado de ventanas por la parte interna, siempre que el condómino
        suministre el material.
      </li>
      <li class="list-group-item">
        Ajuste de herrajes y chapas, (no se abren chapas)
      </li>
      <li class="list-group-item">
        Apoyo técnico sobre consultas referentes a sus instalaciones
      </li>
      <li class="list-group-item">Colgar cuadros.</li>
      <li class="list-group-item">Mover muebles dentro del departamento.</li>
      <li class="list-group-item">
        Fijar tv, asegurándose antes que la pared cuente con el soporte
        necesario.
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <ul class="list-group">
      <li class="list-group-item bg-danger text-white">
        Que <strong>NO</strong> Puedo hacer dentro de un depto.
      </li>
      <li class="list-group-item">
        Demorar más de 30 minutos dentro del departamento.
      </li>
      <li class="list-group-item">
        Desarmar electrodomésticos o aparatos electrónicos que requieran de un
        especialista, ya que esto puede cancelar la garantía del fabricante.
      </li>
      <li class="list-group-item">
        Utilizar materiales del condominio en reparaciones enfocadas a un
        departamento.
      </li>
      <li class="list-group-item">
        Presentarse sin equipo de seguridad personal y herramienta adecuada.
      </li>
      <li class="list-group-item">No utilizar correctamente su uniforme.</li>
      <li class="list-group-item">
        Fraternizar con el personal de servicio del cliente.
      </li>
    </ul>
  </div>
</div>
