<div class="row">
  <div class="col-sm-3">
    <div class="alert alert-default-success">
      <h4 class="h4">Gerente de Mantenimiento</h4>
    </div>
  </div>
  <div class="col-sm-9"></div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header bg-secondary">Inventario</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Equipos</li>
        <li class="list-group-item">Instalaciónes</li>
        <li class="list-group-item">Herramientas</li>
        <li class="list-group-item">Insumos y Materiales</li>
        <li class="list-group-item">Equipo de Protección personal</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header bg-secondary">Equipamiento</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Uniformes</li>
        <li class="list-group-item">Herramienta</li>
        <li class="list-group-item">Insumos y Materiales</li>
        <li class="list-group-item">Equipo de Protección personal</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header bg-secondary">Planificación</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Calendario anual</li>
        <li class="list-group-item">Ordenes de Servicio</li>
        <li class="list-group-item">Recorridos</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header bg-secondary">Mantenimientos Correctivos</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Revisión de informes</li>
        <li class="list-group-item">Soporte y Asesoria</li>
        <li class="list-group-item">Autorización de O.C.</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header bg-secondary">Orden y Limpieza</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Almacen y Talleres</li>
        <li class="list-group-item">Señalización</li>
        <li class="list-group-item">Pintura</li>
        <li class="list-group-item">Estanteria</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header bg-secondary">Control</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Bitacoras Digitales</li>
        <li class="list-group-item">Reporte semanal de operación</li>
        <li class="list-group-item">Reporte mensual de M.P.</li>
        <li class="list-group-item">Prestamo de herramienta</li>
        <li class="list-group-item">Compra de insumos</li>
        <li class="list-group-item">Uso de Insumos</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header bg-secondary">Atención al cliente</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Capacitación de servicio</li>
        <li class="list-group-item">Alcances del servicio</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header bg-secondary">Clientes nuevos</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recepcion de equipos</li>
        <li class="list-group-item">Recepcion de intalaciones</li>
        <li class="list-group-item">Recepcion de insumos</li>
        <li class="list-group-item">Evaluacion de Personal</li>
        <li class="list-group-item">Montaje de equipo</li>
        <li class="list-group-item">Levantamiento fotografico</li>
      </ul>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-header bg-secondary">Operación</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Revision de ordenes de compra</li>
        <li class="list-group-item">Seguimiento a pen. minutas</li>
        <li class="list-group-item">Revision de reportes de operación</li>
        <li class="list-group-item">Revision de reportes Mensual de M.P.</li>
        <li class="list-group-item">Toma de decisiones</li>
        <li class="list-group-item">capacitaciónes</li>
        <li class="list-group-item">Planificación de proyectos</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header bg-secondary">Mejora Continua</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Implementación de Metodologias</li>
        <li class="list-group-item">Analis de operación</li>
      </ul>
    </div>
  </div>
</div>
