<p-toast position="top-left" baseZIndex="99999"></p-toast>

<!-- Table PrimeNg -->
<p-table
  [(selection)]="data"
  #dt
  [responsive]="true"
  styleClass="p-datatable-gridlines p-datatable-sm"
  [value]="data"
  [rows]="10"
  [paginator]="true"
  [rowHover]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100]"
  [globalFilterFields]="['name', 'lastName', 'profession']"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <app-table-header
      [title]="'Listado de Empleados'"
      (add)="showModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
      [dt]="dt"
      [rolAuth]="Asistente || Residente || SuperUsuario"
    ></app-table-header>
    <br />
    <div class="row">
      <div class="col-sm-12 text-center">
        <p-button
          (click)="cuentasActivas()"
          p-button
          styleClass="p-button-sm p-m-1"
          label="Activos"
        ></p-button>
        <p-button
          (click)="cuentasInactivas()"
          p-button
          styleClass="p-button-sm p-m-1"
          label="Inactivos"
        ></p-button>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th
        scope="col"
        style="width: 30%"
        class="text-small"
        pSortableColumn="name"
      >
        Nombre
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th
        scope="col"
        style="width: 30%"
        class="text-small"
        pSortableColumn="profession"
      >
        Profesión
        <p-sortIcon field="profession"></p-sortIcon>
      </th>
      <th scope="col" style="width: 30%" class="text-small">Teléfono</th>

      <th
        *ngIf="Asistente || Residente || SuperUsuario"
        scope="col"
        style="width: 5%"
        class="text-small"
      >
        Opciones
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        <img
          *ngIf="item.photoPath"
          [src]="url_img + item.photoPath"
          alt="."
          width="32"
          class="img-circle"
        />

        <span class="small">
          {{ item.name }}
          {{ item.lastName }}
        </span>
      </td>
      <td>
        <small>
          {{ item.profession }}
        </small>
      </td>
      <td>
        <small>
          {{ item.cellPhone }}
        </small>
      </td>
      <td class="p-column-title" *ngIf="Asistente || Residente || SuperUsuario">
        <div class="d-flex justify-content-center">
          <button
            class="btn btn-sm m-1"
            (click)="showModalcontactEmployee(item, 'Contactos de emergencia ')"
          >
            <span class="fas fa-address-book text-warning"></span>
          </button>
          <app-button-edit
            (edit)="
              showModalAddOrEdit({ id: item.id, title: 'Editar Registro' })
            "
          ></app-button-edit>
          <app-button-delete
            (OnConfirm)="onDelete(item)"
            [nameItem]="item.name"
          ></app-button-delete>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorleft">
    <app-table-footer [data]="data"></app-table-footer>
  </ng-template>
</p-table>
<!-- Table PrimeNg -->
