<p-toast position="top-left" baseZIndex="99999"></p-toast>

<!-- Table PrimeNg -->
<div class="p-card p-mb-5">
  <p-table
    #dt
    [(selection)]="data"
    [autoLayout]="true"
    [globalFilterFields]="['nameInstallation']"
    [paginator]="true"
    [responsive]="true"
    [rowHover]="true"
    [rows]="50"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50, 75, 100, 200]"
    [showCurrentPageReport]="true"
    [value]="data"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        [title]="'Catalogo de instalaciones'"
        [showAdd]="false"
        [dt]="dt"
      ></app-table-header>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 5%">#</th>
        <th
          colspan="2"
          style="width: 90%"
          scope="col"
          pSortableColumn="nameInstallation"
        >
          Instalación <p-sortIcon field="nameInstallation"></p-sortIcon>
        </th>

        <th scope="col" style="width: 5%">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr class="bg-lightblue">
        <td>{{ i + 1 }}</td>
        <td colspan="2" class="p-column-title">
          {{ item.nameInstallation }}
        </td>

        <!-- Opciones -->
        <td class="p-column-title">
          <div class="d-flex justify-content-center">
            <p-button
              pTooltip="Check List"
              tooltipPosition="left"
              styleClass="p-button-sm text-white-50 ml-1 p-button-primary"
              icon="fas fa-plus"
              (click)="onSubmit(item.id)"
            >
            </p-button>
          </div>
        </td>
      </tr>

      <!-- Opciones -->
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <app-table-footer [data]="data"></app-table-footer>
    </ng-template>
  </p-table>
</div>
<!-- Table PrimeNg -->
