<div class="row">
  <div class="card col-sm-6 p-1">
    <div class="alert alert-default-success">
      <h6>Calcular IVA a precio</h6>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body p-fluid">
            <p-inputNumber
              class="p-inputtext-sm"
              inputId="currency-us"
              mode="currency"
              currency="USD"
              locale="en-US"
              (onInput)="calcularPrecioSinIva($event)"
            >
            </p-inputNumber>
          </div>
          <div class="card-footer text-center">
            <label class="font-italic font-weight-normal small"
              >Ingresa el precio</label
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body p-fluid">
            <p-inputNumber
              class="p-inputtext-sm"
              [(ngModel)]="precioSinIva"
              inputId="currency-us"
              mode="currency"
              currency="USD"
              locale="en-US"
            >
            </p-inputNumber>
          </div>
          <div class="card-footer text-center">
            <label class="font-italic font-weight-normal small"
              >Precio sin iva</label
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body p-fluid">
            <p-inputNumber
              class="p-inputtext-sm"
              [(ngModel)]="iva"
              inputId="currency-us"
              mode="currency"
              currency="USD"
              locale="en-US"
            >
            </p-inputNumber>
          </div>
          <div class="card-footer text-center">
            <label class="font-italic font-weight-normal small">I.V.A.</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-leyohm></app-leyohm>
